<html>
    <link rel = "stylesheet" href = "styles.css">
    <body>
            <div class = "possibility">
                <p>The possibility of crime happening in <%= crimeObject.tarea %> </p>
                <p class = "big"><%= crimeObject.possibility %>%</p>
            </div>
            <div class = "type">
                <p>Likely type of crime to occur</p>
                <p class = "big"><%= crimeObject.type %></p>
            </div>
                
            <div>
    </body>
</html>
