<html>
    <body>
        <table>
            <tr>
                <th>Sr No</th>
                <th>City</th>
                <th>Possibility of Crime</th>
                <th>Damages done</th>
            </tr>
        </table>
    </body>

    <div class = "container">
        <div>
            <p>The possibility of crime happening here is <%= crimeObject.possibility %></p>
        </div>
        <div>
            <p>Likely type of crime to occur <%= crimeObject.type %></p>
        </div>
            
        <div>

    </div>
</html>